html body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

a{
  color: #000;
  text-decoration: none;
}

.content{
  width: 300px;
  height: 100vh;
  background-color: navy;
  position: fixed;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
}

.work-tab {
  width: 100%;
  overflow-y: scroll;
}

.work-tab h1{
  margin: 10px 0 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}


input[name="tab-item"] {
  display: none;
}

.tab-item {
  width: 48%;
  height: 122px;
  margin: 1px 1px;
  box-sizing: border-box;
  background-color: #15A4F9;
  color: #fff;
  text-align: center;
  display: inline-block;
    *display: inline;
    *zoom: 1;
  transition: all 0.2s ease;
  position: relative;
}

.tab-item:hover {
  color: yellow;
  opacity: 0.5;
}

.tab-item img{
  height: 45%;
  position: absolute;
  left: 30%;
  bottom: 35px;
}


.tab-item p{
  margin: 0 0 2px 3px;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#sub{
  width: 294px;
  height: 50px;
  margin: 1px 1px 4px;
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
  display: block;
}

#sub p{
  width: 10px;
  position: absolute;
  right: 20px;
  left: auto;
  bottom: 15px;
}

#a1:checked ~ #b1,
#a2:checked ~ #b2,
#a3:checked ~ #b3,
#a4:checked ~ #b4,
#a5:checked ~ #b5,
#a6:checked ~ #b6,
#a7:checked ~ #b7,
#a8:checked ~ #b8,
#a9:checked ~ #b9,
#a10:checked ~ #b10,
#a11:checked ~ #b11{
  display: block;
}

.work-tab input:checked + .tab-item {
  background-color: lightblue;
}


.work-tab-content {
  width: calc(100% - 300px);
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
}

iframe{
  width: 100%;
  height: 100vh;
  border: none;
}


.work-tab-notice{
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  overflow-y: scroll;
}

.work-tab-notice h2{
  margin: 0;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: normal;
}

.work-tab-notice .category .icon,
.work-tab-sales .category .icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

#red{
  background-color: #FF6767;
}
#yellow{
  background-color: #FFED67;
}
#blue{
  background-color: #67BFFF;
}
#green{
  background-color: #4DC368;
}
#gray{
  background-color: #D8D8D8;
}


.work-tab-notice .icon img,
.work-tab-sales .icon img{
  width: 60%;
  margin:  5px auto 0;
  display: block;
}


.work-tab-notice .left{
  width: 50%;
  height: 100%;
  margin-left: 30px;
  display: inline-block;
}


.work-tab-notice .left .box1{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: #fff;
}

.work-tab-notice .category,
.work-tab-sales .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}

.work-tab-notice .category h3,
.work-tab-sales .category h3{
  height: 50px;
  margin: 0;
  padding: 10px 0 0 50px;
  box-sizing: border-box;
  font-weight: normal;
}

.work-tab-notice .category a,
.work-tab-sales .category a{
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 16px;
}

.work-tab-notice .category button,
.work-tab-sales .category button{
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  position: absolute;
  right: 10px;
  bottom: 16px;
}


.work-tab-notice .left .box2{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: #fff;
}

.work-tab-notice .left .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}

.work-tab-notice .left .box3{
  width: 100%;
  height: 200px;
  background-color: #fff;
}


.work-tab-notice .left .notice{
  width: 100%;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
}


.work-tab-notice .left .notice label,
.work-tab-sales .right .notice label{
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}

.work-tab-notice .left .notice p,
.work-tab-sales .right .notice p{
  margin: 0;
  font-size: 16px;
}

.work-tab-notice .left .notice span{
  width: 100%;
  font-size: 12px;
  color: #707070;
  text-align: right;
  display: block;
}

.work-tab-notice .right,
.work-tab-sales .right{
  width: 41%;
  height: 100%;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}


.work-tab-notice .right .box1{
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-color: #fff;
}


.work-tab-notice .right .box2{
  width: 100%;
  height: 230px;
  margin-bottom: 30px;
  background-color: #fff;
}


.work-tab-sales .right .box1{
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-color: #fff;
}


.work-tab-sales .right .box2{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: #fff;
}


.work-tab-notice .right .category,
.work-tab-sales .right .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}



.work-tab-notice .right .notice,
.work-tab-sales .right .notice{
  width: 100%;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
  position: relative;
}

.work-tab-notice .right .notice hr,
.work-tab-sales .right .notice hr{
  width: 73%;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  right: 5px;
}

.work-tab-notice .right .notice label{
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  z-index: 99;
}

.work-tab-notice .right .notice p,
.work-tab-sales .right .notice p{
  margin: 0;
  padding: 3px;
  font-size: 16px;
}

.work-tab-notice .right .notice span
.work-tab-sales .right .notice span{
  width: 100%;
  font-size: 12px;
  color: #707070;
  text-align: right;
  display: block;
}



.work-tab-sales{
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  overflow-y: scroll;
}


.work-tab-sales h2{
  margin: 0;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: normal;
}


.work-tab-sales .left{
  width: 50%;
  height: 100%;
  margin-left: 30px;
  display: inline-block;
}


.work-tab-sales .left .box1{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background-color: #fff;
}


.work-tab-sales .left .box1 .chart{
  width: 100%;
}


.work-tab-sales .left .box2{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background-color: #fff;
}

.work-tab-sales .left .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}

.work-tab-sales .left .box3{
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.work-tab-sales .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}


.work-tab-sales .left .notice{
  width: 100%;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
}


.work-tab-sales .left .notice label{
  margin: 0;
  font-size: 14px;
}

.work-tab-sales .left .notice p{
  margin: 0;
  font-size: 16px;
}

.work-tab-sales .left .notice span{
  width: 100%;
  font-size: 12px;
  color: #707070;
  text-align: right;
  display: block;
}




.dialog {
  position: fixed;
  top:0;
  width: calc(100% - 300px);
  height: 100%;
  background:rgba(245,245,245,0.8);
  left: 300px;
  display: none;
  z-index: 999999;
}


.dialog-content {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
  top: 5%;
  border: 0;
  padding: .5em 1em;
  background: #fff;
  overflow: auto;
}


.dialog-content .box1{
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
}

.dialog-content .category{
  width: 100%;
  border-bottom: solid 1px #f0f0f0;
  position: relative;
}

.dialog-content .category h3{
  height: 50px;
  margin: 0;
  padding: 10px 0 0 50px;
  box-sizing: border-box;
  font-weight: normal;
}

.dialog-content .category a{
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 16px;
}

.dialog-content .category button{
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  position: absolute;
  right: 10px;
  bottom: 16px;
}




.dialog-close {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  background-color: rgba(245,245,245,0.8);
  color: #000000;
  position: fixed;
  top: 20px;
  right: 20px;
}


.dialog-close span{
  font-size: 30px;
}